<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.flint.flint.core.mapper.DocumentMapper">

    <select id="getDocumentList" parameterType="java.lang.Integer" resultType="team.flint.flint.model.table.Document">
        select * from document
        where 1=1 order by top desc, update_time asc
    </select>


    <select id="selectDocumentById" parameterType="java.lang.Integer" resultType="team.flint.flint.model.table.Document">
        select * from document
        where document_id = #{documentId,jdbcType=INTEGER}
    </select>

    <insert id="insertDocument">
        insert into document (`key`, category, title, staff_id, staff_name, content, top, total, create_time, update_time)
        values (#{key,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR},
                #{staffId,jdbcType=INTEGER}, #{staffName,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{top,jdbcType=INTEGER}, #{total,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <insert id="insertSelective" parameterType="team.flint.flint.model.table.Resource">
        insert into resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resourceId != null">
                resource_id,
            </if>
            <if test="rootId != null">
                root_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="showOrder != null">
                show_order,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resourceId != null">
                #{resourceId,jdbcType=INTEGER},
            </if>
            <if test="rootId != null">
                #{rootId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                #{showOrder,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="team.flint.flint.model.table.Resource">
        update resource
        <set>
            <if test="rootId != null">
                root_id = #{rootId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="showOrder != null">
                show_order = #{showOrder,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where resource_id = #{resourceId,jdbcType=INTEGER}
    </update>

    <update id="updateResource">
        update resource
        set root_id     = #{rootId,jdbcType=INTEGER},
            name        = #{name,jdbcType=VARCHAR},
            path        = #{path,jdbcType=VARCHAR},
            show_order  = #{showOrder,jdbcType=INTEGER},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where resource_id = #{resourceId,jdbcType=INTEGER}
    </update>




</mapper>